1. read_csv()
2. to_csv()
3. head()
4. tail()
5. info()
6. describe()
7. shape
8. columns
9. dtypes
10. isnull()
11. dropna()
12. fillna()
13. drop()
14. rename()
15. sort_values()
16. groupby()
17. merge()
18. concat()
19. pivot_table()
20. value_counts()
21. unique()
22. duplicated()
23. drop_duplicates()
24. melt()
25. pivot()
26. set_index()
27. reset_index()
28. sample()
29. nlargest()
30. nsmallest()
31. astype()
32. iloc()
33. isin()
34. corr()
35. hist()
36. plot()
37. boxplot()
38. resample()
39. get_dummies()
40. to_datetime()
41. to_numeric()
42. read_excel()
43. to_excel()

In [2]:
import pandas as pd
import numpy as np

In [16]:
pd.DataFrame(
    {
        'branch':['cse','ece','mech'],
        '2020':[100,150,60],
        '2021':[120,130,80],
        '2022':[150,140,70]
    }
)

  branch  2020  2021  2022
0    cse   100   120   150
1    ece   150   130   140
2   mech    60    80    70

#### nlargest
#### nsmallest

In [36]:
import pandas as pd

# Sample DataFrame
data = {
    'Fruit': ['Apple', 'Banana', 'Mango', 'Orange', 'Pineapple'],
    'Quantity': [10, 20, 15, 8, 25]
}
df = pd.DataFrame(data)

    Fruit  Quantity
3  Orange         8
0   Apple        10
2   Mango        15

### set_index()

In [41]:
import pandas as pd

# Sample DataFrame
data = {
    'Fruit': ['Apple', 'Banana', 'Mango', 'Orange', 'Pineapple'],
    'Quantity': [10, 20, 15, 8, 25]
}
df = pd.DataFrame(data)
df

       Fruit  Quantity
0      Apple        10
1     Banana        20
2      Mango        15
3     Orange         8
4  Pineapple        25